
<link rel="stylesheet" href="../public/">    

<div class="container">

    <div class="px-4 pt-5 my-5 text-center">
        <div class="container px-5">
        <h1 class="display-4 fw-bold" style="font-size: 40px">Conocé todas las opciones que tenemos para vos</h1>
        
        <div class="col-lg-6 mx-auto">
            <br>
            <p class="lead mb-4">Recordá que podés comunicarte con nosotros a nuestro Whatsapp o enviarnos tus consultas a través de la sección contactos.</p>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item position-relative h-200 w-100" src="https://drive.google.com/file/d/17qo5sLzwDK0hkn5vE5oDeK1bJG0xg9_a/preview" allowfullscreen></iframe>
        </div>
        </div>
        </div>
</div>