
<div class="container">

    <div class="px-4 pt-5 my-5 text-center">
    <h1 class="display-4 fw-bold" style="font-size: 40px">Conocé nuestra sucursal</h1>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://i.postimg.cc/pTRW3RTv/Whats-App-Image-2022-07-10-at-5-28-22-PM.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://i.postimg.cc/prd2XCz1/Whats-App-Image-2022-07-10-at-5-28-21-PM.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="https://i.postimg.cc/HxzYgRcy/Whats-App-Image-2022-07-10-at-5-28-20-PM.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class= "embed-responsive embed-responsive-16by9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6565.949285377209!2d-58.46882645644338!3d-34.63008108186546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc988859824b5%3A0x72cb847c6899e42e!2sJOSEFA%20caf%C3%A9%20pan!5e0!3m2!1ses!2sar!4v1657466542226!5m2!1ses!2sar" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
    </div>
</div>
